<h1>Editing organizer</h1>
<br/>
<% form_for @organizer, :url => admin_organizer_path, :html => {:multipart => true}, :method => :put do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    Ignite Events<br />
    <% @events.each do |event| -%>
      <%= check_box_tag "organizer[event_ids][]", event.id, @organizer.events.include?(event), :id => "organizer_event_id_#{event.id}" %>
      <%= label_tag "organizer_event_id_#{event.id}", h(event.name) %>
    <% end -%>
  </p>
  <p>
    <%= f.label :bio %><br />
    <%= f.text_area :bio, :cols => 100 %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :personal_url %><br />
    <%= f.text_field :personal_url %>
  </p>
  <p>
    <%= f.label :blog_url %><br />
    <%= f.text_field :blog_url %>
  </p>
  <p>
    <%= f.label :company_url %><br />
    <%= f.text_field :company_url %>
  </p>
  <p>
    <%= f.label :twitter_url %><br />
    <%= f.text_field :twitter_url %>
  </p>
  <p>
    <%= f.label :linkedin_url %><br />
    <%= f.text_field :linkedin_url %>
  </p>
  <p>
    <%= f.label :image %><br />
    <%= file_column_field "organizer", :image %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', admin_organizer_path(@organizer) %> |
<%= link_to 'Back', admin_organizers_path %>
