<h1>Listing organizers</h1>

<table class="adminTable">
  <tr>
    <th>Name</th>
    <th>Image</th>
  </tr>

<% for organizer in @organizers -%>
  <tr>
    <td><%= link_to(h(organizer.name), admin_organizer_path(organizer)) %></td>
    <td><%= image_tag(url_for_file_column(organizer, "image", "thumb")) unless organizer.image.blank? %></td>
    <td><%= link_to 'Edit', edit_admin_organizer_path(organizer) %></td>
    <td><%= link_to 'Destroy', admin_organizer_path(organizer), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end -%>
</table>

<br />

<%= link_to 'New organizer', new_admin_organizer_path %>
