<p>
  <b>Name: </b>
  <%= h @event.name %>
</p>
<p>
  <b>Ignite City:</b>
  <%=h @event.ignite.city %>
</p>
<p>
  <b>Date: </b>
  <%=pp_date @event.date %>, <%= @event.date.strftime("%l:%M%P") %> 
</p>
<p>
  <b>Is Featured?: </b>
  <%=h @event.is_featured %>
</p>
<p>
  <b>Location Name: </b>
  <%=h @event.location_name %>
</p>
<p>
  <b>Street Address: </b>
  <%=h @event.address_line1 %>
</p>
<p>
  <b>Apt/Ste #: </b>
  <%=h @event.address_line2 %>
</p>
<p>
  <b>City: </b>
  <%=h @event.city %>
</p>
<p>
  <b>State: </b>
  <%= @event.state %>
</p>
<p>
  <b>Zipcode: </b>
  <%=h @event.zip %>
</p>
<p>
  <b>Description: </b>
  <%= Markdown.new(@event.description || '').to_html %>
</p>
<p>
  <b>RSVP URL: </b>
  <%=h @event.rsvp_url %>
</p>
<p>
  <b>Map and Directions URL: </b>
  <%=h @event.map_url %>
</p>
<p>
  <b>Organizer: </b>
  <%=h @event.organizer.name rescue "None" %>
</p>
  
  
<%= link_to 'Edit', edit_admin_event_path(@event) %> |
<%= link_to 'Back', admin_events_path %>