<h1>Listing organizer roles</h1>

<table class="adminTable">
  <tr>
    <th>Title</th>
  </tr>

<% for organizer_role in @organizer_roles %>
  <tr>
    <td><%=h organizer_role.title %></td>
    <td><%= link_to 'Show', [:admin, organizer_role] %></td>
    <td><%= link_to 'Edit', edit_admin_organizer_role_path(organizer_role) %></td>
    <td><%= link_to 'Destroy', [:admin, organizer_role], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New organizer_role', new_admin_organizer_role_path %>
