<p>
  <b>Name:</b>
  <%=h @article.name %>
</p>

<p>
  <b>Ignite City:</b>
  <%=h @article.ignite.city %>
</p>

<p>
  <b>Is news:</b>
  <%=h @article.is_news %>
</p>

<p>
  <b>Html text:</b>
  <%=h @article.html_text %>
</p>

<p>
  <b>Is sticky:</b>
  <%=h @article.is_sticky %>
</p>

<p>
  <b>Comments allowed:</b>
  <%=h @article.comments_allowed %>
</p>


<%= link_to 'Edit', edit_admin_article_path(@article) %> |
<%= link_to 'Back', admin_articles_path %>
