<p>
  <strong>Name:</strong>
  <%=h @article.name %>
</p>

<p>
  <strong>Ignite City:</strong>
  <%=h @article.ignite.city %>
</p>

<p>
  <strong>Is news:</strong>
  <%=h @article.is_news %>
</p>

<p>
  <strong>Show in nav:</strong>
  <%= @article.show_in_navigation? %>
</p>

<p>
  <strong>Is sticky:</strong>
  <%=h @article.is_sticky %>
</p>

<p>
  <strong>Comments allowed:</strong>
  <%=h @article.comments_allowed %>
</p>

<p>
  <strong>Html text:</strong>
  <%=h @article.html_text %>
</p>

<%= link_to 'Edit', edit_admin_article_path(@article) %> |
<%= link_to 'Back', admin_articles_path %>
