<div class="post">
  <%= link_to "Ignite #{@ignite.city}", root_path, :class => "tag" %>
  <h2><%=h @article.name %></h2> 
  <p><%= @article.html_text %></p>
  <p class="meta">
    Posted <%= pp_date @article.created_at %> <br />
    <% if @article.comments_allowed? -%>
      <%= image_tag "/images/shared/icon_comment.gif", :alt => "" %>
      <%= link_to "Comments (#{@article.comments.size})", "#comments" %>
    <% end -%>
  </p>
</div>
<% if @article.comments_allowed -%>
  <div id="articleComments" class="comments">
    <a name="comments"></a>
    <%= render :partial => "comments/list", :locals => {:comments => @comments} %>
    <%= render :partial => "comments/quick_form", :locals => {:comment => @comment, :captcha => @captcha, :parent => @article, :controller_name => 'articles', :action_name => 'post_comment'} %>
  </div>
<% end -%>