<h1><%= @state.display_name %> for <%= @event.name %></h1>
<br/>

<% form_tag("/admin/speakers", :method => 'get') do %>
  <p>
    View 
    <select id="state" name="state">
      <%= options_from_collection_for_select(@states, :name, :display_name, @state.name) %>
    </select>
    for
    <select id="event" name="event">
      <%= options_from_collection_for_select(@events, :id, :name, @event.id) %>
    </select>
    <input type="submit" value="Show" />
    <input type="button" id="btn_csv" value="CSV" />
  </p>
<% end -%>
<% if !@speakers.empty? -%>
  <%= render(:partial => 'speakers', :locals => {:speakers => @speakers}) %>
<% else -%>
  <p>No <%= @state.display_name %>.</p>
<% end -%>

<% javascript_tag do -%>
  $('btn_csv').observe('click', function(evt) {
    var params = "state=" + $F('state') + "&event=" + $F('event');
    window.location = "<%= csv_admin_speakers_path %>?" + params;
  });
<% end -%>