<p>
  <b>Name:</b>
  <%= @speaker.name %>
</p>

<p>
  <b>Status:</b>
  <%= @speaker.aasm_state %>
</p>

<p>
  <b>Ignite:</b>
  <%= @speaker.event.name %>
</p>

<p>
  <b>Position:</b>
  <%= @speaker.position %>
</p>

<p>
  <b>Title:</b>
  <%= @speaker.title %>
</p>

<p>
  <b>Description:</b>
  <%= Markdown.new(@speaker.description).to_html %>
</p>

<p>
  <b>Bio:</b>
  <%= Markdown.new(@speaker.bio).to_html %>
</p>

<p>
  <b>Email:</b>
  <%= @speaker.email %>
</p>

<p>
  <b>Blog url:</b>
  <%= @speaker.blog_url %>
</p>

<p>
  <b>Twitter url:</b>
  <%= @speaker.twitter_url %>
</p>

<p>
  <b>Linkedin url:</b>
  <%= @speaker.linkedin_url %>
</p>

<p>
  <b>Personal url:</b>
  <%= @speaker.personal_url %>
</p>

<p>
  <b>Company url:</b>
  <%= @speaker.company_url %>
</p>

<p>
  <b>Video url:</b>
  <%= @speaker.video_url %>
</p>

<p>
  <b>Video Embed url:</b>
  <%= @speaker.video_embed_url %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag url_for_file_column(@speaker, :image, "thumb") unless @speaker.image.blank? %>
</p>

<p>
  <b>Widget image:</b>
  <%= image_tag url_for_file_column(@speaker, :widget_image, "thumb") unless @speaker.widget_image.blank? %>
</p>

<p>
  <b>Mouseover image:</b>
  <%= image_tag url_for_file_column(@speaker, :mouseover_image, "thumb") unless @speaker.mouseover_image.blank? %>
</p>


<%= link_to 'Edit', edit_admin_speaker_path(@speaker) %> |
<%= link_to 'Back', admin_speakers_path %>
