<p>
  <b>Name:</b>
  <%= @speaker.name %>
</p>

<p>
  <b>Status:</b>
  <%= @speaker.aasm_state %>
</p>

<p>
  <b>Ignite:</b>
  <%=h @speaker.event.name %>
</p>

<p>
  <b>Position:</b>
  <%=h @speaker.position %>
</p>

<p>
  <b>Title:</b>
  <%= @speaker.title %>
</p>

<p>
  <b>Description:</b>
  <%= @speaker.description %>
</p>

<p>
  <b>Bio:</b>
  <%= @speaker.bio %>
</p>

<p>
  <b>Email:</b>
  <%= @speaker.email %>
</p>

<p>
  <b>Blog url:</b>
  <%=h @speaker.blog_url %>
</p>

<p>
  <b>Twitter url:</b>
  <%=h @speaker.twitter_url %>
</p>

<p>
  <b>Linkedin url:</b>
  <%=h @speaker.linkedin_url %>
</p>

<p>
  <b>Personal url:</b>
  <%=h @speaker.personal_url %>
</p>

<p>
  <b>Company url:</b>
  <%=h @speaker.company_url %>
</p>

<p>
  <b>Video url:</b>
  <%=h @speaker.video_url %>
</p>

<p>
  <b>Video Embed url:</b>
  <%=h @speaker.video_embed_url %>
</p>

<p>
  <b>Html text:</b>
  <%= @speaker.html_text %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag url_for_file_column(@speaker, :image, "thumb") unless @speaker.image.blank? %>
</p>

<p>
  <b>Widget image:</b>
  <%= image_tag url_for_file_column(@speaker, :widget_image, "thumb") unless @speaker.widget_image.blank? %>
</p>

<p>
  <b>Mouseover image:</b>
  <%= image_tag url_for_file_column(@speaker, :mouseover_image, "thumb") unless @speaker.mouseover_image.blank? %>
</p>


<%= link_to 'Edit', edit_admin_speaker_path(@speaker) %> |
<%= link_to 'Back', admin_speakers_path %>
