<h1>Listing sponsors</h1>

<table class="adminTable">
  <tr>
    <th>Name</th>
    <th>Link</th>
    <th>Image</th>
  </tr>

<% for sponsor in @sponsors %>
  <tr>
    <td><%=h sponsor.name %></td>
    <td><%=h sponsor.link %></td>
    <td><%= image_tag(url_for_file_column(sponsor, "image", "thumb")) unless sponsor.image.blank? %></td>
    <td><%= link_to 'Show', admin_sponsor_path(sponsor) %></td>
    <td><%= link_to 'Edit', edit_admin_sponsor_path(sponsor) %></td>
    <td><%= link_to 'Destroy', admin_sponsor_path(sponsor), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sponsor', new_admin_sponsor_path %>
