<p>
  <b>Name:</b>
  <%=h @admin.name %>
</p>

<p>
  <b>Login:</b>
  <%=h @admin.login %>
</p>

<p>
  <b>Email:</b>
  <%=h @admin.email %>
</p>


<%= link_to 'Edit', edit_admin_admin_path(@admin) %> |
<%= link_to 'Back', admin_admins_path %>
