<div style="float: right">
  <% unless @ignite.proposals_closed? -%>
    <%= link_to 'Submit a Proposal', new_proposal_path, :class => "articleTitle tag" %>
  <% end -%>
  <%= link_to 'View all Proposals', proposals_path, :class => 'articleTitle tag' %>
</div>
<h2><%= h(@proposal.name) %></h2> 
<h3><%= h(@proposal.title) %></h3>
<div id="related">
  <%= image_tag(url_for_file_column(@proposal, "image", "profile"), :alt => "photo: #{h(@proposal.name)}") unless @proposal.image.blank? %>
</div>
<p><%= Markdown.new(@proposal.description).to_html %></p>
<h4>About <%= h(@proposal.name) %>:</h4>
<p class="bio"><%= Markdown.new(@proposal.bio).to_html %></p>
<hr />
<div class="comments">
  <a name="comments"></a>
  <%= render :partial => "comments/list", :locals => {:comments => @comments} %>
  <%= render :partial => "comments/quick_form", :locals => {:comment => @comment, :captcha => @captcha, :parent => @proposal, :controller_name => 'proposals', :action_name => 'post_comment'} %>
</div>
