<p>Hey <%= h @proposal.ignite.name %> admins,</p>
<p>
  <%= mail_to(@proposal.email, h(@proposal.name)) %> has submitted the proposal 
  <%= link_to(h(@proposal.title), speaker_path(@proposal)) %>.  See a summary below.
</p>
<h2>Abstract</h2>
<%= Markdown.new(@proposal.description).to_html %>
<h2>Bio</h2>
<%= Markdown.new(@proposal.bio).to_html %>
<p>- <%= h @proposal.ignite.name %></p>