<%= link_to h(@event.name), event_path(@event), :class => 'tag' %>

<%= render(:partial => 'speakers/speaker', :locals => {:speaker => @speaker}) %>

<div>
  <% if @event.accepting_proposals? -%>
    <%= link_to 'Submit a Proposal', new_proposal_path, :class => "articleTitle tag" %>
  <% end -%>
  <%= link_to 'View all Proposals', proposals_path, :class => 'articleTitle tag' %>
</div>
<hr />
<div class="comments">
  <a name="comments"></a>
  <%= render :partial => "comments/list", :locals => {:comments => @comments} %>
  <%= render :partial => "comments/quick_form", :locals => {:comment => @comment, :captcha => @captcha, :parent => @speaker, :controller_name => 'speakers', :action_name => 'post_comment'} %>
</div>
