<%= link_to h(@event.name), event_path(@event), :class => 'tag' %>
<div id="related">
  <%= image_tag(url_for_file_column(@speaker, "image", "profile"), :alt => "photo: #{@speaker.name}") unless @speaker.image.blank? %>
  <%= render :partial => 'speaker_links', :locals => {:speaker => @speaker} %>
</div>
<h2><%= @speaker.name %></h2> 
<h3><%= @speaker.title %></h3>
<p><%= Markdown.new(@speaker.description).to_html %></p>
<h4>About <%= h @speaker.name %>:</h4>
<p class="bio"><%= Markdown.new(@speaker.bio).to_html %></p>
<% unless @speaker.video_embed_url.blank? -%>
  <%= render(:partial => 'speakers/embedded_video', :locals => {:speaker => @speaker}) %>
<% end -%>
<hr />
<div class="comments">
  <a name="comments"></a>
  <%= render :partial => "comments/list", :locals => {:comments => @comments} %>
  <%= render :partial => "comments/quick_form", :locals => {:comment => @comment, :captcha => @captcha, :parent => @speaker, :controller_name => 'speakers', :action_name => 'post_comment'} %>
</div>
